/* baseline bookdown */

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* header formats */

.book .book-body .page-wrapper .page-inner section.normal h1.title {
  font-size: 46px;
}
  /* TODO - how to disable <em> tag in this <p>? */
.book .book-body .page-wrapper .page-inner section.normal p.author,
.book .book-body .page-wrapper .page-inner section.normal p.date{
  color: #5A5A5A;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}
#header .date{
  margin-top: 0;
}
h1 {
  color: #002677;
  font-size: 38px;
  font-weight: bold;
}
h1.title {
  font-size: 46px;
}
h2 {
  color: #002677;
  font-size: 34px;
  font-weight: bold;
}
h3 {
  color: #002677;
  font-size: 30px;
  font-weight: bold;
}
h4 {
  color: #002677;
  font-size: 26px;
  font-weight: bold;
}
h5 {
  color: #002677;
  font-size: 22px;
  font-weight: bold;
}
h6 {
  color: #002677;
  font-size: 18px;
  font-weight: bold;
}

/* banner */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: #D9F6FA;
}
.hero-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 240px;
  object-fit: contain;
}
.page-inner {
  padding-top: 250px !important;
}

/* make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}
.book .book-summary ul.summary li.divider {
    height: 0px;
}

/* Equal spacing before and after code chunks */

.sourceCode pre {
  margin: 0 !important;
}
.sourceCode {
  margin-bottom: 0.85em;
}

/* Branded color for links */

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #196ECF;
}
.summary a:hover {
  color: #196ECF !important;
}

/*active TOC links*/

.book .book-summary ul.summary li.active>a {
  color: #196ECF !important;
  border-left: solid 4px;
  border-color: #196ECF;
  padding-left: 11px !important;
}

/* Get rid of header hover hashes */

a.anchor-section::before {
  content: '';
}

/* TOC */

/* Branded background color */
.book .book-summary {
  background: #FBF9F4;
}

/* Branded text color */
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  color: #5A5A5A;
}

/* footer */

.footer hr {
  width: 100%;
}

.footer {
  font-size: .8em;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 24.8px;
}

.footer p {
  margin-bottom: 0;
}

.footer-image {
  float: left;
  width: auto;
  height: 16px;
}

.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}
